<div class="row">
  {{#if items.length}}
    {{#each items}}
      <h3>{{{ title }}}</h3>
      <time>{{ date }}</time>

      <p>{{ description }}</p>

      <p><a href="#" data-reveal-id="rss-{{ @index }}">Read More &raquo;</a></p>

      <div id="rss-{{ @index }}" class="reveal-modal large-8">
        <div>
          <p>This should be more content - but may not be possible with an iframe.</p>
          <a class="close-reveal-modal">x</a>
        </div>
      </div>
    {{/each}}
  {{/if}}
</div>